body {
	display: grid;
	font-family: Arial, sans-serif;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "header header header" "aside aside aside"
		"main main main" "footer footer footer";
}

.o-header {
	grid-area: header;
}

.o-aside {
	grid-area: aside;
	vertical-align: middle;
	text-align: center;
	background: #d60e0e;
}

.o-main {
	grid-area: main;
}

.o-footer {
	grid-area: footer;
}

.box {
	border-radius: 0px;
	padding: 0px;
	font-size: 150%;
	margin: 0;
	border: 0;
}

.header {
	color: #FFF;
	background-color: #d60e0e;
	vertical-align: middle;
	text-align: center;
	height: 100px;
}

.button {
	cursor: pointer;
	background: #d60e0e;
	width: 100%;
	padding: 10px 15px;
	margin: 1em;
	border: 0;
	color: #fff;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 400;
}

.button:hover {
	background: #990a0a;
}

.navbar-movie {
	width: 100%;
	text-align: center;
	background-color: #d60e0e;
}